<fieldset>
  <div class="row span6">
    <legend>General User Settings</legend>
    <div id="email-address">
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, :class => 'title' %>
    </div>
    <div id="password-credentials">
      <p>
      <%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, :class => 'title' %>
      </p>

      <p>
      <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
      <%= f.password_field :password_confirmation, :class => 'title' %>
      </p>
    </div>
  </div>

  <div class="row span6">
    <% if spree_current_user && spree_current_user.admin? %>
      <fieldset>
        <legend>Warehouse-Only</legend>
        <p>
        <%= f.label :label_printer_name, Spree.t(:label_printer_name) %><br />
        <%= f.text_field :label_printer_name, :class => 'title' %>
        </p>
      </fieldset>
    <% end %>
  </div>

</fieldset>

<div data-hook="signup_below_password_fields"></div>
